.profButtons{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.profOptions{
    min-height: 35px;
    position: relative;
    color: black;
    background:rgb(107, 186, 255);
    border: none;
    cursor: pointer;
    text-align: left;
    font-family: Gill Sans, sans-serif;
    font-size: 20px;
    min-width: 260px;
    word-wrap: break-word;
    word-break: break-all;
    border-bottom: 1px solid black;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    transition: 0.3s;
    text-shadow: 0 0 0 grey, 1px 2px 0 grey, 1px 1px 0 grey,
        5px 10px 20px black;
}

.profOptions:hover{
    background-color: rgb(200, 255, 200);
    border: 2px solid rgb(0, 206, 0);
}