.inter {
    min-width: 100%;
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-flow: column;
}

.text{
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 15px;
}

textarea{
    width: 80%;
    height: 40vh;
    text-decoration: none;
    font-family: Gill Sans, sans-serif;
    font-size: 20px;
    padding: 5px 10px;
    border: 2px solid forestgreen;
    border-radius: 8px;
    resize: none;
}

.btn {
    width: 80%;
    text-align: end;
}