.body{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.choices{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2em;
    width: 20%;
    min-width: 260px;
    min-height: calc(100vh - 50px);
    border-right: 3px solid black;
}

.greet{
    word-wrap: break-word;
    border-bottom: 3px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 30px;
}

.cn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}